.nav-container {
  height: 10vh;
}

.menu-bar {
  width: 2rem;
  background-color: grey;
  height: 3px;
  border-radius: 0.6em;
}

/* clicked */
.burger.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.4em, 0.5em);
  transition: ease-out 0.5s;
}

.burger.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger.clicked:nth-child(3) {
  transform: rotate(-45deg) translate(0.4em, -0.55em);
  transition: ease-out 0.5s;
}

/* Unclicked */
.burger.unclicked:nth-child(1) {
  transform: rotate(0) translate(0);
  transition: ease-out 0.5s;
}

.burger.unclicked:nth-child(2) {
  transform: scale(1);
  transition: ease-out 0.5s;
}

.burger.unclicked:nth-child(3) {
  transform: rotate(0) translate(0);
  transition: ease-out 0.5s;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}


.menu-list li a {
  text-decoration: none;
  color: black;
  width: 100%;
}

/* Media Queries */

@media screen and (max-width: 767px){
  .burger-menu {
    position: relative;
  }

  .menu-list{
    padding: 8px 10px;
    position: absolute;
    top: 65px;
    right: 130px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px var(--grey);
    opacity: 900;
  }

  .menu-list li {
    margin: 5px;
  }

  .menu-list li a:hover{
    color: var(--grey);
  }
}

@media screen and (min-width: 768px){
  .menu-list{
    font-size: 1.2rem;
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    gap: 32px;
  }
  .menu-list li{
    padding: 0px;
  }
}